@import '../variables';
.container__form{
    display: grid;
    align-items: center;
    justify-content: center; 
    position:fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
   width: 100vw;
   height:110vh;
   top: -20px;
  
}
.form__all{
    display: grid;
    align-items: center;
    width: 495px;
 
    background-color: #fff;
    
   top: -50px;
}
.button__create{
    background-color: $color-primary;
    
}
