.col-11{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
}
.col-11 p{
    padding: 0 !important;
    margin: 0 !important;
}
.col-1{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important; 
}
